<nav class="navbar navbar-dark navbar-expand-sm">
        <img id="logo" class="navbar-brand" src="/images/green_cross.png" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavigation" aria-controls="myNavigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="myNavigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/clinics/list">Клиники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/people/list">Пациенти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Графики</a>
                </li>
            </ul>
        </div>
</nav> 